/**---Custom Bootstrap Stylings---**/

/* import bootstrap */
@import "bootstrap/bootstrap.less";

/* Icon moon */
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?-hiax3q');
  src:url('../fonts/icomoon.eot?#iefix-hiax3q') format('embedded-opentype'),
    url('../fonts/icomoon.woff?-hiax3q') format('woff'),
    url('../fonts/icomoon.ttf?-hiax3q') format('truetype'),
    url('../fonts/icomoon.svg?-hiax3q#icomoon') format('svg');
  font-weight: 400;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.scrollup {
    background: url("../img/icon_gototop.png") no-repeat scroll 0 0 transparent;
    bottom: 20px;
    display: none;
    height: 40px;
    position: fixed;
    right: 20px;
    text-indent: -9999px;
    width: 40px;
}

ul{
  list-style: none;
}

.icon-user:before {
  content: "\e600";
}
.icon-leaf:before {
  content: "\e601";
}
.icon-eye:before {
  content: "\e602";
}
.icon-eye-blocked:before {
  content: "\e603";
}
.icon-heart:before {
  content: "\e604";
}
.icon-heart2:before {
  content: "\e605";
}
.icon-menu:before {
  content: "\e606";
}
.icon-user2:before {
  content: "\e607";
}
.icon-youtube:before {
  content: "\e608";
}
.icon-youtube2:before {
  content: "\e609";
}


.flash-message{
  position: absolute;
  left:50%;
  top:85px;
}


.fav-button { 
    border: none;
  }

.fav-button:hover { color: white; }

/* Headers */
.navbar-brand{
  padding: 0;
  font-size: 25px;
}

.jumbotron{
        text-align: center;
        background-image:url('../img/kid.jpg');
        background-position: 50% 50%;
        background-size: cover;
        background-repeat:no-repeat;
        background-attachment: fixed;
        p{
          font-size: 18px;
        }
}

.btn.btn-browse {
  .box-sizing(border-box);
  background: none;
  margin-top: -1px;
  margin-left: 5px;
  border: 2px solid @warmth;
  border-radius: 4px;
  padding: 9px 12px;
  color: @warmth;
  &:hover, &:focus {
    background: @warmth;
    color: #fff;
  }
  &:active, &.active {
    border-color: @warmth;
    background: @warmth;
    color: rgba(255, 255, 255, 0.75);
  }
}
/* Content */
.content{
  .flash-message{
  text-align: center;
}
  padding-bottom: 150px;
  text-align: left;
}

.container{
  padding-left: 0;
}
.explore-container{
  padding: 0;
}

.exploreMain{
  padding: 0;
  //background-color: #f1f1f1;
  img{
    height: 250px;
    width: 170px;
  }

  .movie-box{
    padding-left: 0;
    padding-bottom: 40px;
  }
}

.favorites-box{
  background-color: #f1f1f1;
  padding-bottom: 50px;
  img{
    float: left;
    width: 170px;
    height: 250px;
  }
  .btn-group{
    margin-top: .5em;
    margin-left: 2em;
  }
}


.results{
    margin-left: 27%;
    img{
    float:left;
    height: 180px;
    width: 135px;
    padding-right: 10px;
  }
}
.result-box{
  height: 200px;
}

/* Movie display */
.movie-header{
  //padding-top: 0px;
  padding-right: 25px;
  text-align: center;
    .year{
    font-size: 30px;
  }

  .dropdown-menu{
    padding: 0;
    li{
      text-align: left;
      a{
          &:hover {
          background-color: @brand-primary;
          color: #fff;
        }
      }
    }
  }
} //movie-header

  .zengreen{
    color: @zengreen;
  }

  .percent{
    font-size: 25px;
    color: @brand-primary;
  }

.movie-container{
    background-color: @gray-dark;
    padding-bottom: 100px;
}
#mainCol{
  padding-top: 25px;
  padding-left: 50px;
  //margin-left: -3%;
  //padding-right: 10%;
  //padding-left: 27px;
  .tagline{
    margin-left: 0;
  }

  .crew{
    font-size: 15px;
    padding-top: 30px;
  }

  #cast-header{
    padding: 14px 10px;
  }
  	#cast{
  		padding-top: 40px;
  	}

  	.cast-box{
  		padding-top: 15px;
  	}

}
#leftCol{
      padding-top: 30px;
      margin-left: 4em;
      @media(min-width: 1366px){
      .poster{
        padding-bottom: 10px;
        margin-left: 1%;
      }
      .sideInfo{
        margin-left: 5%;
        h4{
          margin-bottom: 5px;
        }
      }
      .ratings{
        margin-left: 5%;
        text-align: left;
        padding-bottom: 20px;
        .overlay{
          background-color: #fff;//#f7f5f2;
        }
        i{
            color: @gray-dark;
        }
        i:hover{
              color: @brand-primary;
        }
      }
    }
  }


#preloader{
  text-align: center;
  margin-top: 20px;
  display: none;
  img{
    width: 35px;
    height: 35px;
  }
}


/* Login/Registration form */
.input-form{
    position: relative;
    width: 290px;
}

.align-right{
  text-align: right;
}

.input-field {
    
    &:focus {
      border-color: @brand-primary;
      
      & + .field-icon {
        color: @brand-primary;
      }  
    }    
  }

.field-icon {
    color: @gray-light;
    font-size: 20px;
    position: absolute;
    right: 15px;
    top: 7px;
    .transition(.25s);
  }  

/* Custom buttons */
.btn-embossed {
  -webkit-box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.20);
  box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.20);
}

.btn.btn-clear {
  .box-sizing(border-box);
  background: none;
  margin-top: 4px;
  margin-left: 3px;
  border: 2px solid @warmth;
  border-radius: 4px;
  padding: 6px 12px;
  color: @warmth;
  &:hover, &:focus {
    background: @warmth;
    color: #fff;
  }
  &:active, &.active {
    border-color: @warmth;
    background: @warmth;
    color: rgba(255, 255, 255, 0.75);
  }
}

.signin-button{
  color: @warmth;
}

/* Helpers */
.float-right{
  float: right;
}
.float-left{
  float: left;
}
.align-center{
  text-align: center;
}
.push-right{
  margin-left: 24%;
}
.add-padding{
  padding: 15px 10px;
}
.pad-bottom{
  padding-bottom: 500px;
}
.pad-top{
  padding-top: 100px;
}
.pad-left{
  padding-left: 40px;
}
.pad-right{
  padding-right: 30px;
}
.highlight{
  color: @brand-primary;
}
.shift-right{
  float: right;
}

/* Typeahead Search styles below */
@media(min-width: 1024px){
  .auto-search{
    margin-left: 50px;
    width: 300px;
  }
  .typeahead{
    width: 300px;
  }
}
@media(min-width: 1300px){
  .auto-search{
    margin-left: 30%;
    width: 450px;
  }
  .typeahead{
    width: 450px;
  }
}
.auto-search .btn-lg{
  padding: 7px 14px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 4px;
}

.auto-search .category{
  color: #7BC673;
  margin: 0 20px 10px 20px;
  padding-top: 15px;
  border-bottom: 1px solid #ccc;
}

.query-box{
  height: 70px;
}

.query-text{
  padding-left: 10px;
}

.tt-dropdown-menu{
  text-align: left;
}

.typeahead,
.tt-query,
.tt-hint {
  height: 39px;
  padding: 8px 12px;
  font-size: 22px;
  line-height: 29px;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  outline: none;
}


.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 1px solid #7BC673;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 450px;
  margin-top: 12px;
  padding: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #7BC673;

}

.tt-suggestion p {
  margin: 0;
}

//-- Home Styles --//
#movies-container{
  padding-top: 50px;
  img{
    width: 200px;
    height: 255px;
  }
}
#front-row{
  padding-top: 10px;
}
/** Side section **/
#side-section{
  padding-top: 80px;
}

#side-section .filter-list {
  padding: 0;
  border: 1px solid #EEE;
  border-radius: 4px;
  li{
    padding: 8px 15px;
    .active{
        background-color: #F7F7F7;
      }
    a{
        color: #919191;
        text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2);
      }
  }

  li:hover {
    background-color: rgba(247, 247, 247, 1);
    a{
        color: #919191;
        text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2);
        text-decoration: none;
    }
  }
}

.filter-header {
  padding: 10px 15px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
#side-section .module-top {
  margin-top: 2em;
  padding: 7px 15px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: @brand-primary;
  font-size: 14px;
  color: white;
  font-weight: 500;
}

#side-section .module {
  padding: 20px 10px;
  border: 1px solid whitesmoke;
  background: #FCFCFC;
  ul{
    padding: 0;
  }
}
.comment {  border-bottom: 1px dashed #E7E7E7; padding-top:10px;}
.comment-body {font-size: 10px;line-height: 16px;color: grey;*overflow: visible;zoom: 1;}
.comment-heading {color:grey;margin: 0 0 5px;font-size: 12px;font-weight: 600;}
.comment:first-child {padding:0px;}
.comment:last-child {margin-top: 0;border: 0px;}
.comment-object {display: block;margin-top: 3px;}
.comment-heading .time {float: right;font-size: 9px;color: #ACACAC;}
.comment .pull-left {margin-right: 10px;}
.comment .pull-right {margin-left: 10px;}
.comment-list {margin-left: 0;list-style: none;}
